{% extends "account/base.html" %}
{% load widget_tweaks %}
y
{% block head_title %}Parol dəyişdirmə{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
        <h1 class="mb-3">Parolunuzu dəyişdirin</h1>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-floating mb-2 col-10 col-md-5 mx-auto">
                    {% for error in field.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-floating mb-2 col-10 col-md-5 mx-auto">
                <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password"
                       class="form-control shadow-none" required="" id="id_oldpassword">
                <label for="id_oldpassword" class="text-muted">Hazırki parol</label>
            </div>
            <div class="form-floating mb-2 col-10 col-md-5 mx-auto">
                <input type="password" name="password1" placeholder="New Password" autocomplete="new-password"
                       class="form-control shadow-none" required="" id="id_password1">
                <label for="id_password1" class="text-muted">Yeni parol</label>
            </div>
            <div class="form-floating mb-2 col-10 col-md-5 mx-auto">
                <input type="password" name="password2" placeholder="New Password (again)"
                       class="form-control shadow-none" required="" id="id_password2">
                <label for="id_password2" class="text-muted">Yeni parol (bir daha)</label>
            </div>
            <a class="text-primary text-end col-10 col-md-5 mx-auto d-block" href="{% url 'account_reset_password' %}">
                Parolu unutmuşam </a>
            <br>
            <a class="btn btn-secondary mx-auto mb-2" href="{% url 'profile-settings' request.user.id %}">Ləğv et</a>
            <button class="btn btn-success mx-auto mb-2" type="submit" name="action">Dəyişdir</button>
        </form>
    </div>
{% endblock %}
