{% extends "account/base.html" %}

{% load account %}
{% load widget_tweaks %}
{% block head_title %}"Password Reset"{% endblock %}
{% block content %}
<div class="container w-lg-25 text-center mt-5">

    <h1>Parol sıfırlama</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h6 class="col-6 mx-auto mb-3">E-poçt ünvanınızı aşağıya daxil edin, parolunuzu sıfırlamanız üçün sizə bir e-poçt göndərəcəyik.</h6>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" >
        {% csrf_token %}
            <div class="form-floating mb-3 col-md-4 col-10 mx-auto">
                <input type="email" name="email" placeholder="Mailiniz *" autocomplete="email" class="form-control" required id="id_email">
                <label for="id_email"><span class="text-muted ms-2">Mailiniz *</span></label>
            </div>
        <input class="btn btn-secondary col-md-4 col-10 mx-auto mb-4" type="submit" value="Parolu sıfırla">
    </form>
    <small class="text-muted">Parolunuzu sıfırlamaqda problem baş verirsə, xahiş edirik <a href="{% url 'contact' %}" class="text-primary text-decoration-underline">bizimlə</a> əlaqə saxlayın.</small>
</div>
{% endblock %}
