{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}


{% block signup %}
    <form class="signup signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-floating mb-1">
                {{ field|add_class:'form-control shadow-none' }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center my-4 flex-column">
            <button class="btn btn-outline-danger" type="submit" id="submit">Sign Up</button>
            <a href="{% url 'ls' %}" class=" btn btn-link text-danger shadow-none">Hesabım var</a>
        </div>
    </form>
{% endblock %}
