{% load static %}
<!-- Footer-->
<footer id="footer" class="bg-primary">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-md-3 col-8 mb-2 mb-sm-0">
                <div class="card h-100 p-0">
                    <div class="card-body text-center p-0">
                        <i class="fas fa-map-marked-alt text-muted "></i>
                        <h4>Ünvan</h4>
                        <hr width="50" class="mx-auto m-0">
                        <div class="small contact-info">Bakı, Azərbaycan</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-8 mb-2 mb-sm-0 mx-4">
                <div class="card h-100 p-0">
                    <div class="card-body text-center p-0">
                        <i class="fas fa-envelope text-muted"></i>
                        <h4>E-mail</h4>
                        <hr width="50" class="mx-auto m-0">
                        <div class="small contact-info"><a href="#">info@stb.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-8 mb-sm-0">
                <div class="card h-100 p-0">
                    <div class="card-body text-center p-0">
                        <i class="fas fa-mobile-alt text-muted"></i>
                        <h4>Telefon</h4>
                        <hr width="50" class="mx-auto m-0">
                        <div class=" small contact-info">+994 77 713 44 43</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-0">
{#        <p class="privacy text-muted mb-1 fs-6">#}
{#            Saytın Administrasiyası reklam bannerlərinin və yerləşdirilmiş#}
{#            elanların məzmununa görə məsuliyyət daşımır.#}
{#        </p>#}
        <!-- <p class="copyright mb-0 py-2" style="font-size: 1.1rem;">&copy; Copyright {% now 'Y' %} by <span>Dashgin &
          BeyrakLnc</span>
        </p> -->
        <p class="copyright mb-0 py-2" style="font-size: 1.1rem;">&copy; Copyright 2021 by <span>Dashgin &
          BeyrakLnc</span>
        </p>
    </div>
</footer>
<!-- Javascript -->
<script src="{% static 'assets/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
