{% extends 'partials/_base.html' %}
{% load humanize %}
{% block title %}Kitablar{% endblock %}
{% block content %}

    <div class="container books">
        <div class="row">
            {% for book in object_list %}
                <div class="col-6 col-md-4 col-lg-3 mx-auto my-3">
                     <div class="card hover-shadow">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="{{ book.image.url }}" class="img-fluid mx-auto" alt="{{ book.title }}"
                                 style="height: 200px; width: 100%">
                            <a href="{% url 'product-detail' book.slug %}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body py-2 border-top">
                            <h5 class="card-title">
                                <a class="text-dark"
                                   href="{% url 'product-detail' book.slug %}">{{ book.title }}</a>
                            </h5>
                            <p class="card-subtitle">
                                {{ book.author|truncatechars:90|safe }}
                            </p>
                            <h5 class="card-text text-end">
                                <a class="text-dark" href="{% url 'product-detail' book.slug %}">
                                    {{ book.price }} AZN</a>
                            </h5>
                        </div>
                        <div class="card-footer text-end py-0">
                            {{ book.view_count }} <i class="far fa-eye"></i>
                            <small class="text-muted float-start">{{ book.created_at|naturaltime }}</small>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    <nav class="my-4 bg-light">
        <ul class="pagination justify-content-center">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link border border-2" href="?page=1">&lang;&lang;</a>
                    </li>
                    {% if page_obj.number == 2 %}
                        <li class="page-item">
                            <a class="page-link border border-2" href="?page=1">&lang;</a>
                        </li>
                    {% elif page_obj.has_previous and page_obj.number != 2 %}
                        <li class="page-item">
                            <a class="page-link border border-2" href="?page={{ page_obj.previous_page_number }}">&lang;</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item active">
                    <span class="page-link bg-dark border border-2 border-dark">{{ page_obj.number }}</span>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link border border-2" href="?page={{ page_obj.next_page_number }}">
                            &rang;
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link border border-2" href="?page={{ page_obj.paginator.num_pages }}">
                            &rang;&rang;
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}