{% extends "partials/_base.html" %}
{% load static %}

{% block title %}Haqqımızda{% endblock %}

{% block content %}
    <section id="about" class="mt-0 w-100">
        <div class="container">
            <div class="row py-0">
                <div class="col-12 col-sm-8 col-xxl-6 mx-auto mobile-text">
                    <h2 class="text-white display-1 fw-bold text-center">Sosial hesablar</h2>
                    <div class="text-center mt-5  mt-sm-3">
                        <a href="#" class="text-white bg-dark p-2"><i class="fab fa-github-square fa-2x"></i></a>
                        <a href="#" class="text-white bg-dark p-2"><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a href="#" class="text-white bg-dark p-2"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}